<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Exibir post", post %>
    </p>
  <% end %>
</div>

<%= link_to "Novo", new_post_path %>
